<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="student-bean" class="com.jsp.spring.SpringProject_DI.Student">
		<property name="studentId" value="101"></property> 
		<property name="studentName" value="Rathan"></property>
		<property name="pan" ref="pan-bean"></property>

	</bean>

	<bean id="pan-bean" class="com.jsp.spring.SpringProject_DI.Pan">
		<property name="panId" value="1"></property>
		<property name="panNumber" value="09876543"></property>
	</bean>

</beans>